<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ethereum-Membersheep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bit.css">

    <link rel="icon" href="/bitcoin.png" type="image/x-icon">
</head>
<body>
<footer>
    <div class="container flex-container">
        <div class="brand">
            <div class="margin-bottom--lv1">
                <span class="cmc-logo cmc-logo_color_grey cmc-logo_size_md footer__cmc-logo"></span>
            </div>
            <div class="text-gray-light">© 2019 CoinMarketCap</div>
        </div>
        </div>
        <div class="donate">
            <section class="margin-bottom--lv2">
                <h5 class="footer-header">Donate</h5>
                <ul class="list-unstyled">
                    <li class="overflow-ellipsis">BTC: <a style="color: #1070e0;" data-toggle="modal" data-target="#donate_btc">3CMCRgEm8HVz3DrWaCCid3vAANE42jcEv9</a></li>
                    <li class="overflow-ellipsis">LTC: <a style="color: #1070e0;" data-toggle="modal" data-target="#donate_ltc">LTdsVS8VDw6syvfQADdhf2PHAm3rMGJvPX</a></li>
                    <li class="overflow-ellipsis">ETH: <a style="color: #1070e0;" data-toggle="modal" data-target="#donate_eth">0x0074709077B8AE5a245E4ED161C971Dc4c3C8E2B</a></li>
                    <li class="overflow-ellipsis">BCH: <a style="color: #1070e0;" data-toggle="modal" data-target="#donate_bch">1LVXG4Z4oF6TrJfmUfSuLX8nqb8c5eCwha</a></li>
                </ul>
            </section>
        </div>
    </div>
</footer>
</body>
</html>