<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ethereum-Membersheep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bit.css">

    <link rel="icon" href="/bitcoin.png" type="image/x-icon">

</head>
<body>
<div class="cmc-nav__topbar">
    <div class="container">
        <div>
            <span>Cryptocurrencies:&nbsp;<a href="/all/views/all/"><span class="js-global-stats-cryptocurrencies">2133</span></a></span>
            &nbsp;•&nbsp;
            <span>Markets:&nbsp;<a href="/currencies/volume/24-hour/"><span class="js-global-stats-markets">17860</span></a></span>
            &nbsp;•&nbsp;
            <span>Market Cap:&nbsp;<a href="/charts/"><span class="js-global-stats-market-cap" data-global-currency-market-cap="">¥1,221,780,798,735</span></a></span>
            &nbsp;•&nbsp;
            <span>24h Vol:&nbsp;<a href="/charts/"><span class="js-global-stats-volume" data-global-currency-volume="">¥348,063,988,623</span></a></span>
            &nbsp;•&nbsp;
            <span>BTC Dominance:&nbsp;<a href="/charts/#dominance-percentage"><span class="js-global-stats-btc-dominance">54.2</span>%</a></span>
        </div>
        <div class="cmc-siteprefs">
            <a class="cmc-link js-nav-track-click" href="https://coinmarketcap.com/advertising" target="_blank" rel="noopener" data-linkid="Advertise - topbar">Advertise</a>
            <div class="cmc-siteprefs-separator"></div>
            <div class="cmc-siteprefs-control cmc-siteprefs-dropdown js-nav-lang-picker">
                <button type="button" class="cmc-nav-button dropdown-toggle language-dropdown" data-toggle="dropdown" title="Change your language">
                    <span>EN</span>&nbsp;
                </button>
                <ul class="dropdown-menu cmc-siteprefs-dropdown-menu cmc-siteprefs-lang-picker__menu" role="menu">
                </ul>
            </div>
            <div data-global-currency-switch="" class="cmc-siteprefs-control cmc-siteprefs-dropdown global-currency-dropdown-container">
                <button type="button" class="cmc-nav-button dropdown-toggle global-currency-dropdown" data-toggle="dropdown" title="Change your display currency">
                    <span data-currency-flag-display="" class="cmc-siteprefs__currency-flag cmc-flag cmc-flag-cn"></span>&nbsp;<span></span>
                </button>
            </div>

        </div>
    </div>
</div>
</body>
</html>